body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-image: url("../img/bg.jpg");
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#header {
	padding: -10px 1;
	background: url(../img/title.png) no-repeat center;
}

#time {
	color: rgb(155, 217, 255);
	position: absolute;
	left: 10%;
	top: 30px;
}

.back {
	font-size: 15px;
	position: absolute;
	left: 1%;
	background-image: url('../img/bt-1.png');
	background-size: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 5px;
}

.back:hover {
	font-size: 15px;
	position: absolute;
	left: 1%;
	background-image: url('../img/bt-1-a.png');
	background-size: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 80px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 5px;
}

.back a {
	text-decoration: none;
	color: rgb(91, 141, 170);
}

.title {
	font-size: 18px;
	position: relative;
	left:47%;
}

.title h2 {
	color: aliceblue;
}

.nav {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: absolute;
	right: 1%;
}

.nav a {
	text-decoration: none;
	color: #333;
	padding: 5px 10px;
	margin: 0 5px;
	position: relative;
	background-image: url('../img/bt.png');
	background-size: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 5px;
}

.nav a.conclution {
	color: rgb(155, 217, 255);
	background-image: url('../img/bt-a.png');
}

.nav a:hover {
	text-decoration: none;
	color: rgb(155, 217, 255);
	padding: 5px 10px;
	margin: 0 5px;
	position: relative;
	background-image: url('../img/bt-a.png');
	background-size: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 70px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 5px;
}

.nav a.conclution:hover {
	color: rgb(155, 217, 255);
	background-image: url('../img/bt-a.png');
}

#main {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 30px 0;
	margin-top: 50px;
	margin-bottom: 50px;
}


#main .box {
	float: left;
	position: relative;
	width: 350px;
	height: 70px;
	margin: 250px auto;
	color: white;
	padding: 1rem;
	box-shadow: 0 0 3rem rgba(100, 200, 255, .5) inset;
	background-image:
		linear-gradient(#4cc7f3 2px, transparent 2px, transparent calc(100% - 2px), #4cc7f3 calc(100% - 2px), #4cc7f3 100%),
		linear-gradient(90deg, #4cc7f3 2px, transparent 2px, transparent calc(100% - 2px), #4cc7f3 calc(100% - 2px), #4cc7f3 100%),
		linear-gradient(#4cc7f3 2px, transparent 2px, transparent calc(100% - 2px), #4cc7f3 calc(100% - 2px), #4cc7f3 100%),
		linear-gradient(90deg, #4cc7f3 2px, transparent 2px, transparent calc(100% - 2px), #4cc7f3 calc(100% - 2px), #4cc7f3 100%);
	background-repeat: no-repeat;
	background-position: top left, top left, bottom right, bottom right;
	background-size: 10px 100%, 100% 10px;
}

#main .box:hover {
	float: left;
	width: 350px;
	height: 500px;
	margin: 100px auto;
	color: white;
	padding: 1rem;
	box-shadow: 0 0 3rem rgba(100, 200, 255, .5) inset;
	background-image:
		linear-gradient(#4cc7f3 2px, transparent 2px, transparent calc(100% - 2px), #4cc7f3 calc(100% - 2px), #4cc7f3 100%),
		linear-gradient(90deg, #4cc7f3 2px, transparent 2px, transparent calc(100% - 2px), #4cc7f3 calc(100% - 2px), #4cc7f3 100%),
		linear-gradient(#4cc7f3 2px, transparent 2px, transparent calc(100% - 2px), #4cc7f3 calc(100% - 2px), #4cc7f3 100%),
		linear-gradient(90deg, #4cc7f3 2px, transparent 2px, transparent calc(100% - 2px), #4cc7f3 calc(100% - 2px), #4cc7f3 100%);
	background-repeat: no-repeat;
	background-position: top left, top left, bottom right, bottom right;
	background-size: 10px 100%, 100% 10px;

}

#main h2 {
	color: aliceblue;
	text-align: center;
}

#main p {
	color: aliceblue;
	font-size: 17px;
	line-height: 1.5em;
	text-align: justify;
	text-indent: 2em;
}

#main span {
	color: aquamarine;
	font-size: 20px;
}

#main .hover-show {
	display: none;
}

#main .box:hover .hover-show {
	display: block;
}

#footer {
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 16px;
	padding: 10px;
	position: fixed;
	bottom: -600px;
	left: 0;
	right: 0;
	text-align: center;
	transition: bottom 0.3s;
}